<h1>My Favorites:</h1>
<div *ngIf="favsites.length == 0">You don't have any favorites yet. Start browsing!</div>
<div *ngIf="favsites.length > 0">
  <ul>
    <li class="fav-list" *ngFor="let favsite of favsites">
      <a target="_blank" href="http://{{favsite.domain}}"> {{ favsite.name }} </a>
    </li>
  </ul>
	<span>Want to send this list to yourself or someone you know?</span><br/>
  <a target="_blank" href="mailto:?subject=Look at these cool websites I found!&body={{email}}">E-mail the List</a>
</div>
