<iframe src="http://{{mysite.domain}}" width="95%" height="70%">
  <p>Your browser does not support iframes.</p>
</iframe>
<div class="bottom-box">
  <div class="myBox move-right">
      <h4>Site Information</h4>
      <div style="text-align: left;"><span class="title">Site name:</span>  {{mysite.name}} </div> <br>
      <div style="text-align: left;"><span class="title">Description:</span> {{mysite.description}}</div><br>
      <div style="text-align: left;"><span class="title">Domain:</span> {{mysite.domain}}</div>
  </div>
</div>
